<div class="meal-result">
  <div *ngIf="isLoading">
    <p>Loading recipes...</p>
  </div>

  <!-- after loading -->
  <div *ngIf="!isLoading" id="meal">
    <!-- before search -->
    <div *ngIf="hasSearched">
      <div *ngIf="recipes.length > 0; else noResults">
        <h2 class="title">Your Search Results:</h2>
        <div class="recipe-card">
          <div *ngFor="let recipe of recipes" class="meal-item">
            <div class="meal-img">
              <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" />
            </div>
            <p class="meal-name">{{ recipe.strMeal }}</p>
            <div class="recipe-btn" (click)="openRecipe(recipe.idMeal)">
              Get Recipe
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- random recipes -->
    <div *ngIf="!hasSearched && recipes.length > 0">
      <h2 class="title">Random Recipe Picks:</h2>
      <div class="recipe-card">
        <div *ngFor="let recipe of recipes" class="meal-item">
          <div class="meal-img">
            <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" />
          </div>
          <p class="meal-name">{{ recipe.strMeal }}</p>
          <div class="recipe-btn" (click)="openRecipe(recipe.idMeal)">
            Get Recipe
          </div>
        </div>
      </div>
    </div>

    <ng-template #noResults>
      <h2 class="title">No recipes found.</h2>
    </ng-template>
  </div>
</div>
